/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/

/*
*KALKULACKA
*/
#kalkulacka{
    border:2px solid black;
    text-align: left;
    padding: 25px;
    width: 300px;
    margin: 5px auto;
    background:cadetblue;
    position: absolute;
    top: 180px;
    right: 20px;
    left: 1240px;
}

input.kalk{
    background: gray;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    box-shadow: -0px 0px 10px deepskyblue;
    margin: 1px;
    
}

#vstupVystup{
    height: 50px;
    width: 250px;
    border: 1px solid gray;padding: 
    3px;
    text-align: right;
    border-radius: 10px; 
    margin: 10px;
    padding: 15px;
    background: azure
}

#BackSpace{
    width:75px;
}

/*
 *Cennik tabulka
*/
table{
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
   
}



tr td:first-child{
    background-color: darkolivegreen;
}

table tr:first-child td:first-child{
    background-color: olivedrab;
}

table tr:first-child td{
     background-color: darkolivegreen;
}

tr{
    background-color: olivedrab;
}

td{
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;
}


.koment{
    width: 990px;
    height: 150px;
    max-width: 990px;
    max-height: 350px;
    box-shadow: 2px 5px 0px 5px cadetblue; 
    
}

div.komentar{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    min-height: 100px;
    background-color: 99CC66 ;
    box-shadow: 2px 6px 35px 5px olivedrab;
}

