/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.11.2014, 18:05:14
    Author     : Dominik
*/

/*
* PRIHLASOVACIE POLE
*/


#login{
    padding:0;
    margin: 0;
}

#login >li{
    padding: 0;
    margin: 0;
    display: inline;
    list-style-type: none;
    
}

#odhlasenie{
    display: none;
}