/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8.12.2014, 18:12:52
    Author     : Dominik
*/
p.Odpoved{
    color: red;
    font-size: 1.5em;
    background-color: black;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

p{
    font-size: 1.3em;
    padding-left: 60px;
    color: olive;
}

h1{
    background-color: olivedrab;
    border-radius: 5px;
    padding-left: 50px;
    color: white;
}

form{
    padding-left: 100px;
    
}

form>input{
    height: 50px;
    width: 400px;
    display: inherit;
}

a{
    border: 2px solid black;
    padding: 20px;
    color: black;
    background-color: olivedrab;
    font-size: 2em;
    position: fixed;
    right:20px;
   
}



