/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.11.2014, 18:03:33
    Author     : Dominik
*/

html {
padding:0px;
margin:0px;
}

body{
    width:100%; 
    padding:0px 0;
    margin:0 auto; 
    font-family:Calibri, sans-serif;
    text-align: center;
}


/*
* HORNE MENU CSS
*/



nav.HorneMenu{
    background: olivedrab;
    padding: 25px 0px;
    margin-top: 3px;
    width:100%;
    height: 25px;
    
}

nav.HorneMenu ul{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline;
}

nav.HorneMenu> ul > li{
    display:inline;
    color: white;
    margin-left: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 0%;
    
}



nav.HorneMenu ul > li:hover{
    background: black;
}



a.Menu{
    text-decoration: none;
    color: white;
    
}

/*
*Podmenu Horneho Menu
*/
nav.HorneMenu ul li ul{
    display: none;
    
    color: black;
    position: absolute;
    right: 250px;
    top: 35px;
      
    margin: 0 0;
    padding: 0 0;
    
}

nav.HorneMenu ul li:hover > ul {
		display: inline-table;
             
}

nav.HorneMenu ul li ul li{
    display: block;
    color: white;
    margin-left: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 0%;
    background: olivedrab; 
}

#prihlasenie>a{
    text-decoration: none;
    color: black;
    border: 2px outset black;
    background-color: olivedrab;
    box-shadow: -0px 0px 13px black;
}

#prihlasenie>form{
    background-color: darkolivegreen;
    border: 3px outset black;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 2px; 
    box-shadow: -0px 0px 13px black;
}

/*
*PATA
*/
div.pata{
    height: 200px;
    border: 1px outset black;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: olivedrab;
    color: white;
}