/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/





/*
* Obrazky Zvierat
*/
#zviera{
   
     width: 1000px;
     height: 400px;
     padding: 1px;
     margin-top: 25px;
     border: 5px solid olivedrab;
     border-radius: 10px;
     
}


/*
* Miesto kde su zobrazene aktualne informacie
*/
div.aktuality{
    text-align: justify;
    width: 1000px;
    margin: 0 auto;
}

div.aktuality >div{
    background-color: olivedrab;
    border:1px outset black;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 20px;
   
}

div.aktuality >div img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}


#zoznamPosl10PrihlPOuzivatelov{
    width: 250px;
    text-align: left;
    list-style-type: none;
    position: fixed;
    top: 150px;
    left: 20px;
    z-index: -1;
    margin: 0 auto;
    border: 1px outset black;
    min-height: 300px;
    border-radius: 10px;
}



