/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/

table{
    border: 2px outset black;
    margin: 0 auto;
    width: 1000px;
    margin-top: 100px;
    background-color: olivedrab;
}

table td{
    width: 500px;
    border: 2px outset black;
    height: 100px;
    border-radius: 20px;
}

tr td:first-child{
    background-color: white;
}

tr td:last-child{
    background-color: white;
}