/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/

table{
    margin: 0 auto;
    border: 2px solid black;
    height: 500px;
    width: 1000px;
    margin-top: 100px;
    background-color: black;
    
}

tr td:first-child{
     background-color: white;
     
     background-color: olivedrab;
}

td{
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 3em;
    color: white;
}

table tr td:last-child{
    color: black;
}