/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/
#myCanvas{
    border: 1px solid black;
    background-image: url("mapkacz.jpg");
    width: 1000px;
    height: 680px;
}

#fixka1{
    position: absolute;
    background: deepskyblue;
    top: 150px;
     
}
#fixka2{
    position: absolute;
    top: 200px;
    background: red;
}

#fixka3{
    position: absolute;
    top: 250px;
    background: green;
}

#fixka4{
    position: absolute;
    top: 300px;
    background: yellow;
}

#zmazPlatno{
    position: absolute;
    top: 350px;
}

#hrubka{
    position: absolute;
    top: 400px;
}


/*
*Hviezdickove hodnotenie
*/
.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding: 12px;
    position:   relative;
    width:      300px;
    background-color: white;
    height:     32px;
}
.ratings_stars {
    background: url('star_empty.png') no-repeat;
    float     :left;
    height:     28px;
    padding-left:28px;
    width:      32px;
}
.ratings_vote {
    background: url('star_full.png') no-repeat;
}
.ratings_over {
    background: url('star_highlight.png') no-repeat;
}


.total_votes {
    border: 2px outset black;
    background: yellow;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute; 
    width: 310px;
}
.movie_choice {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 350px;
    height: 156px;
    padding-left:20px;
    border: 2px solid black;
    position: relative;
    right: 730px;
    bottom: 600px;
}

.movie_choice p{
    background-color: olivedrab;
    width: 326px;
    height: 30px;
    text-align: center;
    padding-top:  10px;
}
