/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.10.2014, 23:16:15
    Author     : Dominik
*/


img{
    width: 400px;
    height: 200px;
    float: right;
    margin-left: 15px;
   margin-top: 10px; 
}

#zvierata{
    display: none;
}

#popis{
    width: 1000px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.upravaZviera{
    width: 990px;
    height: 400px;
    max-width: 990px;
    max-height: 350px;
    
}

.upravaZvieraNazov{
    width: 200px;
    height: 100px;
    max-width: 990px;
    max-height: 350px;
    
}

select{
    height: 50px;
    width: 200px;
    margin-top: 10px;
}

option{
    height: 30px;
    background-color: whitesmoke;
    border: 1px outset #D0D0D0 ;
}