/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.11.2014, 13:47:40
    Author     : Dominik
*/
body{
    text-align: center;
    margin: auto 50px;
    margin-top: 100px;
}

input{
    background: yellowgreen;
   
}

form{
    background: gray;
    padding: 10px;
}

form>span{
     display: inline-block;
     width: 280px;
     text-align: right;
}

form>span.error{
    display: inline-block;
    text-align: left;
    width: 280px;
    color: red;
}

#uspesna{
    margin: 0 auto;
    color: olivedrab;
    font-size: 2em;
    background-color: white;
}

#uspesna a{
    text-decoration: none;
    color: white;
    background-color: olivedrab;
    padding: 5px;
    border-radius: 5px;
    
}